force-app/main/default/flows/Customer_Flow_5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Booking_Confirmation_Message_to_Dealer</name>
        <label>Send Booking Confirmation Message to Dealer</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08Q8661RPV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>Get_Dealer_Details.Slack_Channel_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>testSlackMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Reservation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Vehicle_Status</name>
        <label>Assign Vehicle Status</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Check_Vehicle_Status.Current_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vehicle_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booking Failed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Booking_Confirmed</name>
        <label>Set Booking Confirmed</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ReservationRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Reservation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Vehicle_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Vehicle_Available</name>
        <label>Vehicle Available</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Vehicle_Status.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create an Autolaunched Flow that books a vehicle for a customer by creating a new Vehicle Booking record using the provided customer and vehicle details</description>
    <environments>Default</environments>
    <formulas>
        <name>BookingMessage</name>
        <dataType>String</dataType>
        <expression>&apos;Hi \\r&apos;+{!Get_Dealer_Details.Name}+&apos;\r you have a new booking with the following details -\\n&apos;+
&apos;- Booking Number :&apos;+ {!ReservationRecord.Booking_Number__c}+&apos;&lt;br/&gt;- Start Date :&apos;+ TEXT({!ReservationRecord.Start_Date__c})+
&apos;&amp;BR()- Duration :&apos;+ TEXT({!ReservationRecord.Number_of_Days__c})+
&apos;- Vehicle Type :&apos;+ TEXT({!ReservationRecord.Vehicle_Type__c})+
&apos;- Driver Included :&apos;+ TEXT({!ReservationRecord.Driver__c})+
&apos;- Customer Name :&apos;+ {!ReservationRecord.Customer__r.Name}+
&apos;- Customer Email :&apos;+ {!ReservationRecord.Customer__r.Email__c}+
&apos;- Customer Phone :&apos;+ {!ReservationRecord.Customer__r.Phone__c}+
&apos;- Booked for :&apos;+ TEXT({!ReservationRecord.City__c}) +&apos;, &apos;+ TEXT({!ReservationRecord.State__c})+
&apos;- Pickup Location :&apos;+ {!ReservationRecord.Pickup_Location__c}+
&apos;- Total Amount :&apos;+ TEXT({!ReservationRecord.Total_Amount__c})</expression>
    </formulas>
    <interviewLabel>Customer Flow 5 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Flow 5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reservation</name>
        <label>Create Reservation</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Created_Reservation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>Customer_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer__c</field>
            <value>
                <elementReference>Get_Dealer_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver__c</field>
            <value>
                <elementReference>Driver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days__c</field>
            <value>
                <elementReference>NumberofDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Location__c</field>
            <value>
                <elementReference>vehicleLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Information__c</field>
            <value>
                <elementReference>VehicleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Price__c</field>
            <value>
                <elementReference>VehiclePrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Type__c</field>
            <value>
                <elementReference>VehicleType</elementReference>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_Vehicle_Status</name>
        <label>Check Vehicle Status</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vehicle_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VehicleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Customer_Details</name>
        <label>Customer Details</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealer_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Reservation</name>
        <label>Get Created Reservation</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Booking_Confirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Reservation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealer_Details</name>
        <label>Get Dealer Details</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Reservation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehicleLocation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicle_Status</name>
        <label>Update Vehicle Status</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Send_Booking_Confirmation_Message_to_Dealer</targetReference>
        </connector>
        <inputReference>Check_Vehicle_Status</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Vehicle_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CustomerEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A reservation has been successfully created with below details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Booking Number: {!Get_Created_Reservation.Booking_Number__c}&lt;/p&gt;&lt;p&gt;Customer Email : {!Email}&lt;/p&gt;&lt;p&gt;Vehicle ID: {!VehicleId}&lt;/p&gt;&lt;p&gt;Vehicle Type: {!VehicleType}&lt;/p&gt;&lt;p&gt;Location: {!City}, {!State}&lt;/p&gt;&lt;p&gt;Start Date: {!StartDate}&lt;/p&gt;&lt;p&gt;Number of Days: {!NumberofDays}&lt;/p&gt;&lt;p&gt;Driver Required: {!Driver}&lt;/p&gt;&lt;p&gt;Dealer: {!Get_Dealer_Details.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks for your reservation!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DealerMail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new reservation has been successfully created at your location with below details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Booking Number: {!Get_Created_Reservation.Booking_Number__c}&lt;/p&gt;&lt;p&gt;Customer Email : {!Email}&lt;/p&gt;&lt;p&gt;Vehicle ID: {!VehicleId}&lt;/p&gt;&lt;p&gt;Vehicle Type: {!VehicleType}&lt;/p&gt;&lt;p&gt;Location: {!City}, {!State}&lt;/p&gt;&lt;p&gt;Start Date: {!StartDate}&lt;/p&gt;&lt;p&gt;Number of Days: {!NumberofDays}&lt;/p&gt;&lt;p&gt;Driver Required: {!Driver}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be available at the location on the mentioned date.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SlackMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new reservation has been successfully created at your location with below details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Booking Number: {!Get_Created_Reservation.Booking_Number__c}&lt;/p&gt;&lt;p&gt;Customer Email : {!Email}&lt;/p&gt;&lt;p&gt;Vehicle ID: {!VehicleId}&lt;/p&gt;&lt;p&gt;Vehicle Type: {!VehicleType}&lt;/p&gt;&lt;p&gt;Location: {!City}, {!State}&lt;/p&gt;&lt;p&gt;Start Date: {!StartDate}&lt;/p&gt;&lt;p&gt;Number of Days: {!NumberofDays}&lt;/p&gt;&lt;p&gt;Driver Required: {!Driver}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be available at the location on the mentioned date.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>testSlackMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Get_Dealer_Details.Name},
You have a new booking with the following booking details -
- Booking NUmber : {!Get_Created_Reservation.Booking_Number__c}
- Duration : {!Get_Created_Reservation.Number_of_Days__c}
- Vehicle Type : {!Get_Created_Reservation.Vehicle_Type__c}
- Driver Included : {!Get_Created_Reservation.Driver__c}
- Customer Name : {!Get_Created_Reservation.Customer__r.Name}
- Customer Email : {!Get_Created_Reservation.Customer__r.Email__c}
- Customer Phone : {!Get_Created_Reservation.Customer__r.Phone__c}
- Booked For : {!Get_Created_Reservation.City__c}, {!Get_Created_Reservation.State__c}
- Pickup Location : {!Get_Created_Reservation.Pickup_Location__c}
- Total Amount : {!Get_Created_Reservation.Total_Amount__c}
Once you receive the payment and handover the vehicle to customer, Go to the Booking Assistant and Confirm the booking using the booking number in this message.</text>
    </textTemplates>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Driver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumberofDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ReservationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VehiclePrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VehicleType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
