force-app/main/default/flows/Dealer_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_dealer_to_slack</name>
        <label>Add dealer to slack</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <actionName>slackInviteUsersToChannel</actionName>
        <actionType>slackInviteUsersToChannel</actionType>
        <connector>
            <targetReference>Update_Dealer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08Q8661RPV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelId</name>
            <value>
                <elementReference>Create_Slack_Channel_Action.slackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForChannel</name>
            <value>
                <stringValue>T08Q8661RPV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIdsToInvite</name>
            <value>
                <elementReference>UserIDCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackInviteUsersToChannel</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Slack_Channel_Action</name>
        <label>Create Slack Channel</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <actionName>slackCreateChannel</actionName>
        <actionType>slackCreateChannel</actionType>
        <connector>
            <targetReference>Add_dealer_to_slack</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08Q8661RPV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelName</name>
            <value>
                <elementReference>SlackChannelName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isChannelPrivate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForChannel</name>
            <value>
                <stringValue>T08Q8661RPV</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackCreateChannel</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>User_ID_Collection</name>
        <label>User ID Collection</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>UserIDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Slack_Channel_Action</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Alias</name>
        <dataType>String</dataType>
        <expression>LEFT($Record.Name, 5)</expression>
    </formulas>
    <formulas>
        <name>CustomerUsername</name>
        <dataType>String</dataType>
        <expression>&apos;dealer&apos;+&apos;{!$Flow.InterviewStartTime}&apos;+{!$Record.Email__c}</expression>
    </formulas>
    <formulas>
        <name>SlackChannelName</name>
        <dataType>String</dataType>
        <expression>LOWER(SUBSTITUTE({!$Record.Location__c}, &quot; &quot;, &quot;-&quot;))</expression>
    </formulas>
    <interviewLabel>Dealer Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dealer Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_ID_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dealer</name>
        <label>Update Dealer</label>
        <locationX>308</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Slack_Channel_ID__c</field>
            <value>
                <elementReference>Create_Slack_Channel_Action.slackChannelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slack_Channel_Name__c</field>
            <value>
                <elementReference>SlackChannelName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer</stringValue>
            </value>
        </filters>
        <object>Customer__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Create_Slack_Channel</name>
            <connector>
                <targetReference>Get_User_Record</targetReference>
            </connector>
            <label>Create Slack Channel Path</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
