force-app/main/default/flows/Send_OTP_to_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Confirmation_on_OTP</name>
        <label>Confirmation on OTP</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ConfirmVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>OTPValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1010</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Customer_Exists</name>
        <label>Customer Exists</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_on_OTP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>If user ask for otp to vadiate, Create a flow to send a one time password to their email.</description>
    <environments>Default</environments>
    <formulas>
        <name>OTPGeneration</name>
        <dataType>Number</dataType>
        <expression>FLOOR(1000 + (MOD(NOW() - DATETIMEVALUE(&quot;2000-01-01 00:00:00&quot;), 1)) * 9000)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Send OTP to User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send OTP to User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customer</name>
        <label>Get Customer</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Customer</name>
        <label>Update Customer</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Customer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OTP_Status__c</field>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP__c</field>
            <value>
                <elementReference>OTPValue</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Customer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OTPEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The below OTP is generated for your account: {!OTPGeneration}</text>
    </textTemplates>
    <textTemplates>
        <description>Send the email with the OTP to the customer</description>
        <name>SendOTPEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Hi {!Get_Customer.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Here&apos;s the OTP for your email: {!Get_Customer.OTP__c} Please use this within the next 24 hours.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Please let us know if you have any trouble logging in.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Automates&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ConfirmVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
