force-app/main/default/flows/TDx_Update_Vehicle_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Vehicle_Status</name>
        <label>Check Vehicle Status</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booked_Reservation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vehicle_Status_to_Booked</targetReference>
            </connector>
            <label>Booked Reservation</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vehicle_Status_to_Available</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Vehicle Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Vehicle Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Vehicle_Status_to_Available</name>
        <label>Update Vehicle Status to Available</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle_Information__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle_Information__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vehicle_Status_to_Booked</name>
        <label>Update Vehicle Status to Booked</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle_Information__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle_Information__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Vehicle_Status</targetReference>
        </connector>
        <object>Reservation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
