force-app/main/default/flows/Vehicle_Information_Flow_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_2_of_Vehicle_Status_Assignment</name>
        <label>Copy 2 of Vehicle Status Assignment</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VehicleStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Vehicle_Status_Assignment</name>
        <label>Vehicle Status Assignment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VehicleStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Vehicle_Status</name>
        <label>Check Vehicle Status</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booked_Reservation</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reservation_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reservation_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reservation_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vehicle_Status_to_Booked</targetReference>
            </connector>
            <label>Booked Reservation</label>
        </rules>
        <rules>
            <name>Cancelled_Complete</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reservation_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reservation_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reservation_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vehicle_Status_to_Available</targetReference>
            </connector>
            <label>Cancelled/Complete</label>
        </rules>
    </decisions>
    <description>An autolaunched flow that updates the Current status of a vehicle in Vehicle information object to Booked or available based on the status of the Reservation</description>
    <environments>Default</environments>
    <interviewLabel>Vehicle Information Flow 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vehicle Information Flow 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Reservation_Record</name>
        <label>Get Reservation Record</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Vehicle_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReservationStatus</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicle_Status_to_Available</name>
        <label>Update Vehicle Status to Available</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Copy_2_of_Vehicle_Status_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reservation_Record.Vehicle_Information__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle_Information__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vehicle_Status_to_Booked</name>
        <label>Update Vehicle Status to Booked</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Vehicle_Status_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reservation_Record.Vehicle_Information__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle_Information__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reservation_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ReservationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VehicleStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
